.medhikaLogo {
  /* background: url(/asset/Logo_Medhika_New.png); */
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  /* padding-top: 20px; */
}

.HeaderBG {
  background: #F6F8FC
}

.HeaderBG .Vector {
  background: url(../../Assets/DevImage/BGHeader2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 90%;
  padding-top: 0;
}

.VectorRekomendasi {
  background: url(../../Assets/DevImage/ProdukPilihanNew3.png); 
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  padding-top: 0;
}

.btn-color{
  background-color: #DE1B51;
  /* background-color: #eef5f4; */
  color: #FFF;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  filter: drop-shadow(3px 3px 7px rgba(34, 34, 34, 0.329));
}